svg {
  display: block; /*2*/
  /* vertical-align: middle; 2 */
}

html {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  tab-size: 4;
  font-family: "fontFamily.sans", ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
}

::before,
::after {
  box-sizing: border-box; /* 1 */
  border-width: 0; /* 2 */
  border-style: solid; /* 2 */
  border-color: white; /* 2 */
}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

a {
  color: inherit;
  text-decoration: inherit;
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  font-weight: inherit; /* 1 */
  line-height: inherit; /* 1 */
  color: inherit; /* 1 */
  margin: 0; /* 2 */
  padding: 0; /* 3 */
}
button,
select {
  text-transform: none;
}
input::placeholder,
textarea::placeholder {
  opacity: 1; /* 1 */
  color: #9ca3af; /* 2 */
}

body {
  margin: 0; /* 1 */
  line-height: inherit; /* 2 */
}

.app {
  position:relative;
  background: #181931;
  overflow-x: hidden;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
}

.app::before{
  content: "";
  position: absolute;
  width: 200px;
  height: 200px;
  background-color: #6461d0;
  border-radius: 50%;
  filter: blur(80px);

}
.app::after{
  content: "";
  top:40%;
  right:50%;
  position: absolute;
  width: 200px;
  height: 200px;
  background-color: #fa3df0;
  filter: blur(80px);
  border-radius: 50%;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

button {
  color: white;
  cursor: pointer;
  background: none;
  border: none;
}
