.app {
  background-image: url(assets/orion-nebula-11107.jpg);
  overflow-x: hidden;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}